@import url(https://fonts.googleapis.com/css?family=Roboto:700);

/*colors: #FAED26, #46344E, #5A5560, #9D8D8F, #9B786F */

html, body {
    background: #FBC02D;
    font-family: Roboto, serif;
    height: 100%;
    width: 100%;
}

.index {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index--h1 {
    color: #000;
    font-size: 3em;
    width: 100%;

}

.container {
    padding: 10px;
    width: 100%;
    height: 100%;
    top: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-modal{
    background-color: red;
    color: #fff;
}
.close-modal:hover{
    @apply bg-red-800
}

.fill-window {
    height: 100%;
    /*position: absolute;*/
    width: 100%;
    overflow: hidden;
}

/*#nav-text {*/
/*    text-shadow: 3px 2px 2px black;*/
/*}*/

/*#bombLogo {*/
/*    filter: drop-shadow(3px 2px 2px black);*/
/*}*/

/*#dropDownDots {*/
/*    filter: drop-shadow(3px 2px 2px black);*/
/*}*/

/*#header {*/
/*    filter: drop-shadow(0.50em 0.20em 0.3em);*/
/*}*/