@import url(https://fonts.googleapis.com/css?family=Roboto:700);

/*      'ukrBlue':'#0057B7',
      'ukrYellow':'#FFDD00',*/
/*colors: Yellow - #FAED26, Brown Purple - #46344E, Gray - #5A5560, Beige Gray - #9D8D8F, #9B786F */
/*Yellow background #FBC02D*/

html, body {
    /*background-image: url(360_F_489358243_oJKsX627y6lcR6vyRb9pjYFUgfsiIgV1.jpg);*/
    background-size: cover;
    background-color: rgba(220,220,220, .5);
    font-family: Roboto, serif;
    height: 100%;
    width: 100%;
}

.index {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index--h1 {
    color: #000;
    font-size: 3em;
    width: 100%;

}

.container {
    padding: 10px;
    width: 100%;
    height: 100%;
    top: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-modal{
    background-color: red;
    color: #fff;
}
.close-modal:hover{
    @apply bg-red-800
}

.fill-window {
    height: 100%;
    /*position: absolute;*/
    width: 100%;
    overflow: hidden;
}

/*#nav-text {*/
/*    text-shadow: 3px 2px 2px black;*/
/*}*/

/*#bombLogo {*/
/*    filter: drop-shadow(3px 2px 2px black);*/
/*}*/

/*#dropDownDots {*/
/*    filter: drop-shadow(3px 2px 2px black);*/
/*}*/

/*#header {*/
/*    filter: drop-shadow(0.50em 0.20em 0.3em);*/
/*}*/