/* Old color: #b58ecc, #5de6de*/
/* Button for page transition*/

.noselect, .noselectRep {
    width: 60px;
    height: 60px;
    cursor: pointer;
    /*background-color: #5de6de;*/
    background-image: linear-gradient(250deg, #2563eb 0%, #eab308 74%);
    border: none;
    border-radius: 50%;
    transition: 200ms;
}

.noselect::before {
    content: 'Home';
    font-size: 15px;
    transition: 200ms;
    color: transparent;
    font-weight: bold;
    display: block;
}

.noselectRep::before {
    content: 'Report';
    font-size: 15px;
    transition: 200ms;
    color: transparent;
    font-weight: bold;
    display: block;
}

.noselect:hover, .noselectRep:hover {
    /*box-shadow: 0 1px 5px rgba(0,0,0,0.2);*/
    width: 80px;
    height: 80px;
}

.noselect:hover::before, .noselectRep:hover::before {
    color: #5A5560;
}

/*.noselect:hover, .noselectRep:hover {*/
/*    animation: bounce 2s infinite linear;*/
/*}*/

@keyframes bounce {
    0% {transform: translateX(-55%) translateY(-50%)}
    25% {transform: translateX(-55%) translateY(-65%)}
    50% {transform: translateX(-55%) translateY(-50%)}
    75% {transform: translateX(-55%) translateY(-35%)}
    100% {transform: translateX(-55%) translateY(-50%)}
}


/* Button for Submitting location on Report Page*/
.location-btn {
    font-family: Arial, monospace;
    background: #2563eb;
    color: #eab308;
    cursor: pointer;
    font-size: 2em;
    padding: 1.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 20px;
    width: auto;
    position: relative;
    min-width: 300px;
}

.location-btn::after {
     font-family: "Font Awesome 5 Free";
     content: "\f3c5";
     font-weight: 900;
     position: absolute;
     left: 92%;
     top: 54%;
     right: 0;
     bottom: 0;
     opacity: 0;
     transform: translate(-50%, -50%);

}

.location-btn:hover {
    background: #FAED26;
    transition: all 0.5s;
    border-radius: 20px;
    box-shadow: 0px 6px 15px black;
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    color: #2563eb;
}

.location-btn::after {
     opacity: 1;
     transition: all 0.5s;
     color: #2563eb;
}

/*Add more details button*/

.add-deets {
    width: 140px;
    padding: 20px 30px;
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
}

/*.add-deets:hover .wave {*/
/*    top: -120px;*/
/*}*/

.btnTxt{
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 15px;
    letter-spacing: 8px;
}

.wave {
    width: 200px;
    height: 200px;
    background-color: #9D8D8F;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: -80px;
    transition: 0.4s;
    color: black;
}

.wave::before, .wave::after {
                width: 200%;
                height: 200%;
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%,-75%);
                opacity: 40%;
}

.wave::before {
     border-radius: 45%;
     background-color:  #46344E; /*rgba(20,20,20,1);*/
     animation: wave 5s linear infinite;
}

.wave::after {
     border-radius: 40%;
     background-color: #5A5560; /*rgba(20,20,20,0.5);*/
     animation: wave 10s linear infinite;
}

@keyframes wave {
    0% {
        transform: translate(-50%,-75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%,-75%) rotate(360deg);
    }
}